@import url(https://fonts.googleapis.com/css?family=Poppins);

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;  
}

section
{
    height: 100vh;
    overflow: hidden;
    background: #000;
}

p
{
    position: relative;
    font-size: 1.5em;
    letter-spacing: -0.05em;
    line-height: 0.7em;
    background: url(sam2.png),url(sam2.png);
    background-blend-mode: color-dodge;
    background-position-x: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    color: transparent;



}